
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="\Contact\HandleQuery" method="post">
    Query
    <br />
    <textarea rows="4" class="form-control"></textarea>
    <br />
    <input type="submit" class="btn btn-primary" value="submit"/>
    
</form>