
@{
    ViewData["Title"] = "Index";//same functionali0ty as ViewBag
}

<h1>Index</h1>

<form action="\Contact\HandleQuery" method="post">
    Query
    <br />                              <!--name query is the same parameter found in the 
                                            HandleQuey method
                                            name=""is done to retrieve the fields from the input-->
    <textarea rows="4" class="form-control" name="query"></textarea>
    <br />
    <input type="submit" class="btn btn-primary" value="submit"/>
    
</form>
<!--C#
    Retrieving the message from the ContactController
-->
@ViewBag.Message